{% extends 'base.html' %}

{% block title %}
Aircraft Company - Process
{% endblock %}

{% block body %}
<h3 class="pb-4 mb-4 fst-italic border-bottom">Process</h3>
<form method="POST">
    <div class="form-group">
        <label for="inpSel0" class="control-label">Filter by product</label>
        <div >
            <select size="1" name="product" id="inpSel0" class="form-control">
                <option value="" selected></option>
                {% for prod in prods %}
                <option value="{{prod.id}}">{{prod.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <input type="submit" class="btn btn-secondary">
</form>


<br>
<table style="width:100%;margin:auto;text-align:center;" class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Product</th>
        <th>Status</th>
        <th>District</th>
        <th>Brigade</th>
        <th>Start Date</th>
        <th>Finish Date</th>
    </thead>
    {% for work in works %}
    <tr>
        <td>{{work.id}}</td>
        <td>{{work.name}}</td>
        <td>{{work.prod.name}}</td>
        <td>{{work.status}}</td>
        <td>{{work.district.name}}</td>
        <td>{{work.brigade.name}}</td>
        <td>{{work.start_date}}</td>
        <td>{{work.finish_date}}</td>
    </tr>
    {% endfor %}
    <tr><td colspan="8">Total: {{total}}</td></tr>
</table>


{% endblock %}


